.cart {
    transition: transform.2s, box-shadow .2s;
}

.card:hover {
    transform: scale(1.01) translateY(5px);
    transition: transform.2s, box-shadow .2s;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);

}